<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>二维码名片</title>
		<!-- 最新 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">

	<!-- 可选的Bootstrap主题文件（一般不用引入） -->
	<link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap-theme.min.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    {%load staticfiles%}
    <link rel="stylesheet" href="{%static 'app/main.css'%}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Card2D</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    {{info}}
    <div class="container">

      <div class="starter-template">
        <h1>创建自己的二维码名片吧</h1>
        <div class="panel panel-default">
        <div class="panel-body">
        <div class="row">
          <div class="col-md-5">
            <a href="#" class="thumbnail">
              <img src="{%static fileName%}" alt="...">
            </a> 
          </div>
          <div class="col-md-7">
            <form  method="POST" class="form-horizontal" role="form">
              {%csrf_token%}
              <div class="form-group">
                <label for="inputName" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" name="username" id="inputName" placeholder="Name">
                </div>
              </div>
              <div class="form-group">
                <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" name="email" id="inputEmail3" placeholder="Email">
                </div>
              </div>
              <div class="form-group">
                <label for="inputPhone" class="col-sm-2 control-label">Phone</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" name="tel" id="inputPhone" placeholder="Phone">
                </div>
              </div>
              <div class="form-group">
                <label for="inputQQ" class="col-sm-2 control-label">QQ</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" name="qq" id="inputQQ" placeholder="QQ">
                </div>
              </div>
              <div class="form-group">
                <label for="inputSite" class="col-sm-2 control-label">WebSite</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" name="site" id="inputSite" placeholder="WebSite">
                </div>
              </div>
              <div class="form-group">
                <label for="inputCompany" class="col-sm-2 control-label">Company</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" name="company" id="inputCompany" placeholder="Company">
                </div>
              </div>
              <div class="form-group">
                <label for="inputPosition" class="col-sm-2 control-label">Position</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" name="position" id="inputPosition" placeholder="Position">
                </div>
              </div>
              
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-default">Submit</button>
                </div>
              </div>
            </form>
          </div>
      </div>
      </div>
      </div>
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-11579988-4', '7chg.com');
  ga('send', 'pageview');

</script>
</body>
</html>